.j-image {
	width: 100%;
	height: 29rem;
	border-radius: var(--border-radius);

	&.sm {
		height: 18rem;
	}
	&.md {
		height: 25rem;
	}
	&.lg {
		height: 34rem;
	}

	&.auto {
		height: auto;
	}
}

img.j-image {
	height: auto !important;
}

.j-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.6);
}
.j-overlay.xxxs {
	background-color: rgba(0, 0, 0, 0.2);
}
.j-overlay.xxs {
	background-color: rgba(0, 0, 0, 0.3);
}
.j-overlay.xs {
	background-color: rgba(0, 0, 0, 0.4);
}
.j-overlay.sm {
	background-color: rgba(0, 0, 0, 0.5);
}
.j-overlay.lg {
	background-color: rgba(0, 0, 0, 0.7);
}
.j-overlay.xl {
	background-color: rgba(0, 0, 0, 0.8);
}
.j-overlay.xxl {
	background-color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 991px) {
	.j-image {
		width: 100%;
		height: 25rem;

		&.sm {
			height: 15rem;
		}
		&.md {
			height: 20rem;
		}
		&.lg {
			height: 30rem;
		}
	}
}
@media only screen and (max-width: 767px) {
	.j-image {
		width: 100%;
		height: 22rem;

		&.sm {
			height: 13rem;
		}
		&.md {
			height: 18rem;
		}
		&.lg {
			height: 27rem;
		}
	}
}
@media only screen and (max-width: 478px) {
	.j-image {
		width: 100%;
		height: 25rem;

		&.sm {
			height: 15rem;
		}
		&.md {
			height: 20rem;
		}
		&.lg {
			height: 30rem;
		}
	}
}
