.j-acc-content {
	border-radius: var(--accordion-radius);
	transition: var(--duration-slow-01) var(--expressive-standard);

	max-height: 0;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
.j-accordion[aria-expanded="true"] > .j-acc-content {
	max-height: 62.5rem;
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
}
.j-acc-content > div {
	transition: var(--duration-moderate-01) var(--expressive-standard);
	transform: scale(0.98);
	opacity: 0;
}
.j-accordion[aria-expanded="true"] > .j-acc-content > div {
	transform: scale(1);
	opacity: 1;
}
